:root {
  --light-blue: #3879bd;
  --light-blue-2: #64a4e9;

  --light-gray: #333333;

  --text-dark-2: #41414d;

  --card-background: #ffffff;

  --background-primary: #eeeeee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
